<html>
  <head>
    <title>Hacker Dojo Kudos</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet" />
    <link href="/static/js/jquery.autocomplete.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.autocomplete.pack.js"></script>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
		<div id="top">
		  <a href="http://mail.hackerdojo.com">Mail</a> &nbsp;&nbsp;
		  <a href="http://groups.hackerdojo.com">Groups</a> &nbsp;&nbsp;
		  <a href="http://voice.hackerdojo.com">Voice</a> &nbsp;&nbsp;
		  <a href="http://events.hackerdojo.com">Events</a> &nbsp;&nbsp;
		  <strong>Kudos</strong> &nbsp;&nbsp;
		  <a href="http://signs.hackerdojo.com">Signs</a> &nbsp;&nbsp;
		  <a href="http://log.hackerdojo.com">Log</a> &nbsp;&nbsp;
		  <a href="http://wiki.hackerdojo.com">Wiki</a> &nbsp;&nbsp;
		  <div style="float: right;">
			{% if user %}
			<span><strong>{{user.email}}</strong> | <a href="{{logout_url}}">Logout</a></span>
			{% else %}
			<span><a style="font-weight: bold;" href="{{login_url}}">Login</a> | <a href="http://signup.hackerdojo.com/upgrade/needaccount">Need an account?</a></span>
			{% endif %}
		  </div>
		</div>
    <div id="wrapper">
      <div id="header">
        <img src="/shared/static/logo-medium.png" style="float: right; width: 250px; padding: 20px; margin-right: -20px;" />
        <div style="float: left;">
          <h1 style="font-size: xx-large;">Community<br />Kudos <span style="color: #cd355c;">&hearts;</span></h1>
        </div>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
   
  </body>
</html>